version: '3'
services:
  db:
    image: postgres
    container_name: code-challenge-db
    environment:
      - POSTGRES_HOST_AUTH_METHOD=trust

  challenge-backend:
    build:
      context: .
      dockerfile: ./docker/Docker.server/backend.Dockerfile
    image: 'hudsonwilde/challenge-backend'
    working_dir: /home/app/node-server
    env_file: .env
    #container_name: challenge-fe
    volumes:
      - homeapp:/home/app
    ports:
      - '3012:3000'
      - '8000:8000'
    stdin_open: true

volumes:
  homeapp:
    driver: local
