body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Rockwell:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One:wght@300;500&display=swap');
